/*Mobile*/
.form-main{
    background-color: #15151D;
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-content{
    max-width: 450px;
} 

.form-text{
    margin-bottom: 16px;
    font-size: 17px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.fullinput{
    position: relative;
    margin-bottom: 20px;
    height: 34px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.fullinput>input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 40px;
    outline: none;
}

.fullinput img{
    position: absolute;
    width: 16px;
    height: 16px;
    top: auto;
    bottom: auto;
    left: 10px;
}


.submit-button{
    width: 100%;
    height: 34px;
    border: none;
    background-color: #F92251;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    outline: none;
}


/*Tablet*/

@media(min-width:768px){

   .form-content{
        text-align: center;
    } 

    form-text{
        font-size: 25px;
    }

    .inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;
    }  

    .fullinput>input{
        height: 53px;  
    }

    input[type="text"]{
        margin-right: 30px;
    }


    .submit-button{
        height: 53px;
    }
    

}


/*Desktop*/
@media(min-width:1440px){
    .form-content{
        max-width: 980px;
    }
    .form-text{
        font-size: 35px;
    }
    .input-form{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .inputs{
        margin-right: 30px;
    }

    .fullinput{
        margin: 0;
        width: 300px;
    }

    .submit-button{
        width: 300px;
    }

}